body{
    background-color: rgb(235, 229, 232);
}


li  {
    float: left;
}

li a {
    display: block;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px 25px;
  text-decoration: none;
}

ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #72080d;
  border-radius: 30px;
    
}

.navi {
    background-color: #72080d;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px; 
    padding: 100px;
    border-radius: 40px;
    text-align: center;
    border-color: #0e1013;
    border-style: solid;
    
}

 
 
input{
    background-color: #e61c26;
    padding: 12px;
    margin: 12px;
    border-color: #2285f5;
    border-radius: 40px;
}