/* static/style.css */

body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../static/assets/venus-major.jpg');
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.status {
    font-size: 24px;
    margin: 20px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
