<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="#"><img src="{{url_for('static', filename='dor.jpg')}}" alt="" height="50px" width="50px"></a></li>
            <li><a href="#">ADES</a></li>
            <li><a href="#">
            </a></li>
        </ul>
    </div>

    <div style="float: right; padding-right: 50px; padding-top: 50px;"> 
        <input type="button" value="Power ON">
        <input type="button" value="Power Off">
    </div>

    <div class="navi">
        <p style="font-size: 50px; color: red;">Closed</p>
    </div>
</body>
</html>